body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}


h1 {
    color: #333;
}

form {
    margin: 20px auto;
}

img {
    max-width: 90%;
    margin: 20px auto;
    border: 2px solid #ddd;
}